/* General styling for the root element */
.root {
    -fx-font-family: "Arial";
    -fx-background-color: #000000; /* Black background */
    -fx-text-fill: white; /* White text */
}

/* Styling for ListView */
.list-view {
    -fx-background-color: #333333; /* Dark grey background */
    -fx-text-fill: white; /* White text */
    -fx-border-color: #61a2b1; /* Original border color */
    -fx-border-radius: 5;
    -fx-padding: 5;
}

/* Styling for flat buttons */
.button {
    -fx-background-color: #61a2b1; /* Flat button color */
    -fx-text-fill: white; /* White text */
    -fx-padding: 10 20 10 20;
    -fx-font-size: 14px;
    -fx-background-radius: 0; /* No rounded corners */
    -fx-border-radius: 0; /* No rounded corners */
    -fx-border-color: transparent; /* No border */
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: #3b7681; /* Slightly darker flat color on hover */
}

/* Styling for the search field */
.text-field {
    -fx-background-color: #333333; /* Dark grey background */
    -fx-text-fill: white; /* White text */
    -fx-border-color: #61a2b1; /* Original border color */
    -fx-border-radius: 5;
    -fx-padding: 5;
}

/* Styling for the HBox */
.hbox {
    -fx-background-color: #000000; /* Black background */
    -fx-padding: 10;
    -fx-spacing: 10;
}

/* Styling for the BorderPane */
.border-pane {
    -fx-background-color: #000000; /* Black background */
    -fx-padding: 10;
    -fx-border-color: #ffffff; /* White border */
    -fx-border-width: 2;
    -fx-border-radius: 5;
}

/* Styling for the ScrollPane */
.scroll-pane {
    -fx-background-color: #000000; /* Black background */
    -fx-padding: 10;
}

/* Styling for the MediaView */
.media-view {
    -fx-background-color: #000000; /* Black background */
}
